 <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/dashboard">Hogwarts Student Record Management</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
              <li><a href="#/"><i class="fa fa-sign-out"></i> Logout</a></li>
          </ul>
         <!--  <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form> -->
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
       <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
          <li><a href="#/dashboard"><i class="fa fa-tachometer"></i> Dashboard</a></li>
            <li><a href="#/students"><i class="fa fa-users"></i> Students</a></li>
            <li><a href="#/reports"><i class="fa fa-bar-chart"></i> Reports</a></li>
       
          </ul>
              
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Add Student</h1>
            <div class="col-md-4">
            <form novalidate ng-submit="createStudent()" class="formcreate">
              <div class="form-group">

                <input ng-model="name" 
                  class="form-control" 
                  type="text" 
                  name="name" 
                  placeholder="Enter Name">
              </div>

              <div class="form-group">
                <input ng-model="address"
                  class="form-control"
                  type="text" 
                  name="address" 
                  placeholder="Enter Student Address">
              </div>

              <div class="form-group">
                <select class="form-control" name="type" ng-model="type">
                  <option value="" selected="selected">Choose Type</option>
                  <option value="muggle">Muggle</option>
                  <option value="magical">Magical</option>
                </select>
              </div>

              <div class="form-group">
                <select class="form-control" name="house" ng-model="house">
                  <option value="" selected="selected">Choose House</option>
                  <option value="Godric Gryffindor">Godric Gryffindor</option>
                  <option value="Helga Hufflepuff">Helga Hufflepuff</option>
                  <option value="Rowena Ravenclaw">Rowena Ravenclaw</option>
                  <option value="Salazar Slytherin">Salazar Slytherin</option>
                </select>
              </div>

              <div class="form-group">
                <select class="form-control" name="quidditch" ng-model="player">
                  <option value="" selected="selected">Quidditch Player?</option>
                  <option value="yes">Yes</option>
                  <option value="no">No</option>                  
                </select>
              </div>
<!-- 
              <pre>{{type}}</pre>
              <pre>{{house}}</pre>
              <pre>{{player}}</pre> -->

              <button class="btn btn-primary btn-lg btn-block add">Save</button> 
            </form>
            </div>
        </div>
      </div>
    </div>