 <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/dashboard">Hogwarts Student Record Management</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
              <li><a href="#/"><i class="fa fa-sign-out"></i> Logout</a></li>
          </ul>
         <!--  <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form> -->
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
       <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
          <li><a href="#/dashboard"><i class="fa fa-tachometer"></i> Dashboard</a></li>
            <li><a href="#/students"><i class="fa fa-users"></i> Students</a></li>
            <li><a href="#/reports"><i class="fa fa-bar-chart"></i> Reports</a></li>
       
          </ul>
              
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Add Test Information</h1>
            <div class="col-md-4">
            <form novalidate ng-submit="createTest()" class="formcreate">
              <div class="form-group">

                <input ng-model="name" 
                  class="form-control" 
                  type="text" 
                  name="name" 
                  placeholder="Enter Test Name">
              </div>

              <div class="form-group">
                <textarea class="form-control" ng-model="description" name="description"
                placeholder="Enter Test Description"></textarea>
              </div>

              <div class="form-group">
                <input class="form-control" ng-model="grade" name="grade"
                placeholder="Enter Grade">
              </div>

              <div class="form-group">
                <input class="form-control" ng-model="letter" name="letter"
                disabled>
              </div>
              

              <div class="form-group">
                <select class="form-control" name="absent" ng-model="absent">
                  <option value="" selected="selected">Absent?</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>                  
                </select>
              </div>

              <div class="form-group">
                <textarea class="form-control" ng-model="notes" name="notes"
                placeholder="Enter Notes"></textarea>
              </div>

              <div class="form-group">
                <select class="form-control" name="year" ng-model="year">
                  <option value="" selected="selected">Select year</option>
                  <option value="2015">2015</option>
                  <option value="2014">2014</option>                  
                </select>
              </div>
              
              <div class="form-group">
                <input class="form-control" ng-model="housegrade" name="housegrade"
                disabled>
              </div>           

              <button class="btn btn-primary btn-lg btn-block add">Save</button> 
            </form>
            </div>
        </div>
      </div>
    </div>