
body {
  /*padding-top: 5px;*/
  padding-bottom: 20px;
  background-color: #fff;
}

.btn-primary .enter{
  background-color: #1A7DE6;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  /*padding: 16px 22px 16px 22px;*/

}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin .username{
  margin-top: 10px;
}

#enter{
  background-color: #1A7DE6;
  border-top: 1px solid #105296;
  border-right: 1px solid #105296;
  border-left: 1px solid #105296;
  border-bottom: 3px solid #105296;
  /*font-weight: bold;*/
}

