<div class="container">
<form class="form-signin" id="login" name="login" novalidate ng-submit="submit()">
    <img class="img-responsive" src="../static/img/logo.png">
    <div class="form-group">
    	<select ng-model="username" class="form-control username" id="username">
    	<option value="" selected="selected">Select Username</option>
    	<option value="​a.dumbledore">Professor Dumbledore</option>
    	<option value="​s.snape">Professor Snape</option>
    	<option value="​voldermort">Tom Riddle</option>
    </select>
    </div>
    
    <label for="password" class="sr-only">Password</label>
    <input ng-model="password" type="password" id="password" class="form-control" placeholder="Password" required>
    
    <button class="btn btn-lg btn-primary btn-block enter" ng-disabled="invalid" id="enter">
    	Enter
    </button>
</form>
</div>