<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/dashboard">Hogwarts Student Record Management</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
              <li><a href="#/"><i class="fa fa-sign-out"></i> Logout</a></li>
          </ul>
         <!--  <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form> -->
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
          <li><a href="#/dashboard"><i class="fa fa-tachometer"></i> Dashboard</a></li>
            <li><a href="#/students"><i class="fa fa-users"></i> Students</a></li>
            <li><a href="#/reports"><i class="fa fa-bar-chart"></i> Reports</a></li>
      
          </ul>
              
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Reports</h1>
            <table class="table table-striped">
                  <thead>
                    <tr>
                      <th class="text-center">Name</th>
                      <th colspan="2">Boils Cure</th>
                      <th colspan="2">Forgetfulness</th>
                      <th colspan="2">Poison Antidote</th>
                      <th colspan="2">Herbicide</th>
                      <th colspan="2">Wideye</th>
                      <th colspan="2">Wiggenweld</th>
                      <th colspan="2">Sleep. Draught</th>
                      <th colspan="2">Swelling</th>
                      <th  class="text-center">Final</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                    </table>
          
        </div>
      </div>
    </div>